body{
	font-family: sans-serif;
}

.mi-navbar{
	/*background: linear-gradient(white,#FDEEF4);*/
	background: linear-gradient(#FDEEF4,silver);
	border-bottom: 2px solid tomato;
}

a.navbar-brand.main-title{
	text-decoration:none;
 	font-weight: bold;
 	color: tomato;
}

a.navbar-brand.main-title:hover{
	color: tomato;
}

ul.nav .links a{
  text-decoration:none;
  font-weight: bold;
  color: #666;
}

ul.nav .links a:hover{
  color: tomato;
}

.principal{
	padding:70px;
	text-align:center;
}

.principal h1{
	font-size: 3em;
	margin-bottom:35px;
	letter-spacing:5px;
	font-weight:bold; 
}

#img-principal{
	width:25%;
	border: 5px solid tomato;
}

.texto-bienvenida{
	margin-top:25px;
}

.seccion-sec{
	margin-top: 15px;
}

.seccion-sec h2{
	font-size:1.3em;
	padding:15px;
	max-height:10%;
	color: #FDEEF4;
	background:linear-gradient(tomato,red);
	letter-spacing: 3px;
}