body{
	font-family: sans-serif;
}

.nav-flex-container{
  display:flex;
  height:60px;
  margin-bottom:5px;
  padding:5px;
  /*background: linear-gradient(white,#FDEEF4);*/
  background: linear-gradient(#FDEEF4,silver);
  justify-content: space-between;
  align-items:center;
  border-bottom: 2px solid tomato;
}

.main-title{
  font-weight: bold;
  color: tomato;
  margin-left:30px;
}

.links{
  margin:0em 1em;
}

ul{
  list-style:none;
}

li{
  display:inline;
  margin-left: 20px;
}

.main-title a{
	text-decoration:none;
  font-weight: bold;
  color: tomato;
}

.links a{
  text-decoration:none;
  font-weight: bold;
  color: #666
}

.main-title a:hover{
  color: tomato;
  border-bottom: 2px solid tomato;
}

.links a:hover{
  color: tomato;
  border-bottom: 2px solid tomato;
}

.flex-container{
	display:flex;
}

section{
	font-size:1.2em;
}

.seccion-pri{
	padding:20px;
	height: 100vh;
}

.seccion-pri h1{
	font-size: 3em;
	text-align:center;
	margin-bottom:35px;
	letter-spacing:5px;
	font-weight:bold; 
}

.seccion-pri div{
	text-align: center;
	margin-bottom:20px;
}

.seccion-pri p{
	padding:1% 20%;
	line-height:1.3em;
	text-align: justify;
}

.seccion-sec{
	margin-top: 10px;
	height: 100vh;
}

.seccion-sec h2{
	font-size:1.3em;
	padding:15px;
	max-height:10%;
	color: #FDEEF4;
	background:linear-gradient(tomato,red);
	letter-spacing: 3px;
}

.tec-flex-container{
	height:90%;
	display:flex;
	padding:0% 100px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;*/
}

article{
	height:200px;
	width:300px;
	border: 3px solid tomato;
}

.flex-footer{
	display:flex;
	align-items:center;
	justify-content: space-between;
	height:20px;
	padding:20px;
	background: linear-gradient(silver,#FDEEF4);
}

.red-social-link{
	text-decoration: none;
}	

.red-social-icon{
	margin-left:10px;
}